In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Person_target_predictors.csv')

In [4]:
df.head()

,PersID,Creating_Date,Reference_Date,Target,Predictor_1,Predictor_2,Predictor_3,Predictor_4,Predictor_5,Predictor_6,...,Predictor_70,Predictor_71,Predictor_72,Predictor_73,Predictor_74,Predictor_75,Predictor_76,Predictor_77,Predictor_78,Predictor_79
0,3500,10/04/25,10/04/24,1,4.0,3.0,1215.00,121.5000,0.00,0.0,...,NaN,NaN,NaN,NaN,40.0,NaN,21.0,NaN,NaN,NaN
1,3515,10/04/25,10/04/24,1,10.0,6.0,7053.69,30.2733,7375.52,96.0,...,NaN,NaN,NaN,NaN,759.0,4.0,635.0,NaN,NaN,NaN
2,3516,10/04/25,10/04/24,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,145.0,18.0,89.0,2.0,NaN,NaN
3,3517,10/04/25,10/04/24,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3584,10/04/25,10/04/24,0,12.0,19.0,21709.58,603.0438,7356.74,22.0,...,NaN,NaN,NaN,NaN,58.0,4.0,31.0,NaN,NaN,NaN

In [3]:
df.shape

(305093, 83)

In [6]:
df['Target'].sum()

np.int64(44905)

In [11]:
print(44905/305093)

0.14718462894920564

In [14]:
df_reduced = df.sample(n=70000, random_state=42).reset_index(drop=True)

In [15]:
df_reduced

,PersID,Creating_Date,Reference_Date,Target,Predictor_1,Predictor_2,Predictor_3,Predictor_4,Predictor_5,Predictor_6,...,Predictor_70,Predictor_71,Predictor_72,Predictor_73,Predictor_74,Predictor_75,Predictor_76,Predictor_77,Predictor_78,Predictor_79
0,378197,10/04/25,10/04/24,0,1.0,4.0,320.00,80.0000,0.00,0.0,...,NaN,NaN,NaN,NaN,12.0,5.0,4.0,NaN,NaN,NaN
1,138159,10/04/25,10/04/24,0,2.0,5.0,22087.09,4417.4180,0.00,0.0,...,NaN,NaN,NaN,NaN,15.0,3.0,4.0,NaN,2.0,2.0
2,476747,10/04/25,10/04/24,0,1.0,1.0,2000.00,2000.0000,2070.63,1.0,...,NaN,NaN,NaN,NaN,46.0,35.0,5.0,NaN,NaN,NaN
3,628396,10/04/25,10/04/24,1,1.0,1.0,1100.00,1100.0000,567.79,1.0,...,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN
4,1127866,10/04/25,10/04/24,0,1.0,0.0,0.00,0.0000,0.00,1.0,...,NaN,NaN,NaN,NaN,6.0,1.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,31797,10/04/25,10/04/24,1,8.0,12.0,5736.13,185.0364,1620.37,14.0,...,NaN,NaN,NaN,NaN,146.0,NaN,72.0,NaN,NaN,NaN
69996,95300,10/04/25,10/04/24,0,7.0,2.0,696.43,36.6542,0.00,14.0,...,NaN,NaN,NaN,NaN,13.0,5.0,2.0,NaN,NaN,NaN
69997,214219,10/04/25,10/04/24,0,3.0,6.0,12311.47,2051.9116,277.49,2.0,...,NaN,NaN,NaN,NaN,57.0,30.0,10.0,NaN,NaN,NaN
69998,502343,10/04/25,10/04/24,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,8.0,NaN,NaN,2.0,1.0
69999,1113198,10/04/25,10/04/24,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,3.0,1.0

In [16]:
df_reduced.shape

(70000, 83)

In [17]:
df_reduced['Target'].sum()

np.int64(10300)

In [18]:
print(10300/70000)

0.14714285714285713

In [19]:
df_reduced.to_csv('Data_BD_181ric090.csv')